<div class="container">
    <header>
        <ul>
            <li><img class="logo" src="/images/logo.png" /></li>
            <li><a href="/">Browse</a></li>
            <li><a href="/create/cube">Add a Cube</a></li>
            <li><a href="/create/accessory">Add Accessory</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
        </ul>
    </header>
    <main>
        {{#with cube}}
            <h1>{{name}}</h1>
            <img class="cube" src="{{imageUrl}}" />
            <div class="details">
                <p><span>Description:</span>{{description}}</p>
                <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
                <a class="btn" href="/">Back</a>
                <a class="btn" href="/create/accessory/{{_id}}">Attach</a>
            </div>
        {{/with}}

            <h2>Accessories</h2>
            <div class="accessories">
                {{#if cube.accessories.length}}
                {{#each cube.accessories}}
                {{> accessory}}
                {{/each}}
                {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>
                {{/if}}
            </div>

    </main>
</div>
<footer>@Cubicle: Exercise for Express.js and Handlebars</footer>